body {
    background-color: #435165;
    margin: 0;
  }
   
  .login-box
   {
    height: 50%;
    width: 30%;
    border: 1px solid grey;
    margin-left: 35%;
    margin-top: 10%;
    position: relative;
         box-shadow: 21px 12px 24px 10px rgba(0, 0, 0, .5);
         background: #dadada;
   }
   .login-header
   {
    text-align: center;
    font-family: "vardhana",cursive;
    font-size: 35px;
    background: linear-gradient(to bottom, #00bfff 0%, #5b6d7c 100%);
    color:#fff;
    position: relative;
         box-shadow: 1px 3px 14px  rgba(0, 0, 0, .5);
   }
   .login-body
   {
    padding: 20px;
    line-height: 2;
   }
  .msg {
  color: #721c24;
     background-color: #f8d7da;
     border-color: #f5c6cb;
  padding: .75rem 1.25rem;
     margin-bottom: 1rem;
     border: 1px solid transparent;
     border-radius: .25rem;
  }  
  .main{
   margin-top:50px;
  }
   
  h1.title { 
  font-size: 50px;
  font-family: 'Passion One', cursive; 
  font-weight: 400; 
  }
   
  hr{
  width: 10%;
  color: #fff;
  }
   
  .form-group{
  margin-bottom: 15px;
  }
   
  label{
  margin-bottom: 15px;
  }
   
  input,
  input::-webkit-input-placeholder {
     font-size: 11px;
     padding-top: 3px;
  }
   
  .main-login{
   background-color: #fff;
     /* shadows and rounded borders */
     -moz-border-radius: 2px;
     -webkit-border-radius: 2px;
     border-radius: 2px;
     -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
     -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   
  }
  .form-control {
     height: auto!important;
  padding: 8px 12px !important;
  }
  .input-group {
     -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
     -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
     box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  }
  .main-center{
   margin-top: 30px;
   margin: 0 auto;
   max-width: 400px;
     padding: 10px 40px;
  background:#5b6d7c;
      color: #FFF;
     text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
   
  }
  span.input-group-addon i {
     color: #fff;
     font-size: 17px;padding:10px;
  }
   
  .login-button{
  margin-top: 5px;
  }
   
  .login-register{
  font-size: 11px;
  text-align: center;
  }
   
  .site-header {
     background-color: rgba(0, 0, 0, .85);
     -webkit-backdrop-filter: saturate(180%) blur(20px);
     backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a { 
  color:#fff;
  }