h1, h2 {
    margin: 1em 0;
  }
  
  .form-control li {
    list-style-type: none;
  }
  nav{
      
    background-image: url(https://st3.depositphotos.com/1008657/19511/i/1600/depositphotos_195119560-stock-photo-makeup-brush-and-decorative-cosmetics.jpg);
  }
  
  .product-listing {
    margin-bottom: 2em;
  }
  body{
    background-color: goldenrod;
    background-image: url(http://makeup-api.herokuapp.com/assets/brushes-6d2ab84631ecd47ced4fa07c47eb37521eb61c5a525965dafaf308f21338aa44.png);
    
background-size: cover;
 

}
b{
  text-align: center;
  color:indigo;

}

  
  
  
  
