<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<link rel="stylesheet" href="/static/fav.css">
	<title>MAKEUP-WORLD APP</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
</head>
<body>
	<div class="background-color">
	<header class="container-fluid">
			<div class="container mx-auto text-center mb-5 title">
				<h1 class="text-info">LETS GENERATE  YOUR FAVORITE PRODUCT </h1>
				<h2>YOUR IMAGE YOUR TEXT YOUR PRODUCT  (LET'S DO IT )</h2>
		</div>
		<div class="steps">
			<p></p>
			
		</div>

	</header>

	<section class="container"> 
		<form id="meme-form">
			
			<div class="group-form row mb-5">
				<label for="link-to-pic" class="col-md-2 col-form-label">Image URL :</label>
			<div class="col-md-10">
      			<input type="url" class="form-control" id="uploaded-img" placeholder="HERE GOES YOUR MEME URL" required>
   			 </div>

			 </div>
			 
		<div class="group-form row mb-5">
				<label for="text-on-top" class="col-md-2 col-form-label">Text on top:</label>
			<div class="col-md-10">
      			<input type="text" class="form-control" id="text-top" placeholder="WRITE Top Text  ">
    		</div>
		</div>
		
		<div class="group-form row mb-5">
				<label for="text-on-bottom" class="col-md-2 col-form-label">Text on Bottom:</label>
			<div class="col-md-10">
      			<input type="text" class="form-control" id="text-bottom" placeholder="WRITE BOTTOM TEXT">
    		</div>
		</div>
		<div class="group-form row mb-5">
				<label class="col-md-2 col-form-label">&nbsp;</label>
			<div class="col-md-2">
      			<input type="submit" class="btn btn-success" value="Generate it!">
    		</div>
		</div>

		</form>
		<div class="line"></div>
	</section>
</div>

<section class="meme-gallery">

	<ul class="gallery">
	</ul>
	

</section>
	<footer>
		<div class="container-fluid footer">
			<p><b>WEBPAGE BELONGS TO MAKEUP-WORLD</b></p>
			
		</div>
		
	</footer>

	
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" i0ntegrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="/static/fav.js"></script>

</body>
</html>